html, body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* Fullscreen background */
.background-container {
    width: calc(100% - 40px); 
    height: 60vh; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #333; 
    padding: 0 20px; 
}

/* About Me section styling */
.about-me {
    color: white; 
    max-width: 50%; 
}

.hard-skills-section {
    margin: 20px 0;
    text-align: center; 
}

.click-why-section {
    margin: 20px 0;
    text-align: center; 
}

/* Image styling */
.image-box img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.image-box {
    transition: transform 0.3s ease; 
}

html {
    zoom: 1; 
}

body {
    width: 100%;
    overflow-x: hidden; 
}

/* sticky header */
header {
    position: sticky;  
    top: 0;           
    background-color: #333; 
    color: white;     
    padding: 1rem 0; 
    z-index: 1000;   
}

/* header styling */
header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 1rem 20px; 
    background-color: #333; 
    color: white; 
}

/* header image styling */
.header-image {
    height: 60px; 
    margin-left: 20px;
    opacity: 1; 
}

/* header name styling */
.header-name {
    transition: opacity 0.3s ease; 
}

/* hidden state */
.hidden {
    opacity: 0; 
    visibility: hidden; 
}

/* navigation styles */
nav {
    display: flex;          
    justify-content: center; 
}

nav a {
    margin: 0 15px;  
    color: white;     
    text-decoration: none; 
}

/* section styling */
section {
    margin: 20px;
}

/* flexbox for projects, skills, experience */
.projects, .skills, .experience {
    display: flex;
    flex-wrap: wrap;
}

/* project, skill, experience item styling */
.project, .experience-item {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    flex-basis: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.soft-skills-container {
    display: flex;             
    flex-direction: column;    
    align-items: center;      
    text-align: center;        
    margin: 20px;             
}

/* bubble styles for skills */
.skill {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap; 
}

.skill li {
    background-color: #4CAF50; 
    color: white; 
    border-radius: 20px; 
    padding: 15px 20px; 
    margin: 10px; 
    transition: transform 0.3s ease; 
    box-shadow: none; 
}

.skill li:hover {
    transform: scale(1.05); 
}

/* styling for the Hard Skills */
.hard-skills-section {
    margin: 20px 0;
    text-align: center; 
}

.hard-skills-container {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    gap: 20px; 
    overflow-x: auto; 
}

/* style each hard skill box */
.hard-skill-box {
    background-color: #f8f8f8; 
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 20px; 
    width: 18%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: left; 
}

/* style the title of each hard skill category */
.hard-skill-box h3 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

/* style the lists inside box */
.hard-skill-box ul {
    list-style-type: none; 
    padding: 0; 
}

.hard-skill-box li {
    margin: 5px 0; 
    font-size: 1rem; 
}

/* footer styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

/* disappear effect on scroll */
.hidden {
    opacity: 0;
}

/* train */ 
.train-container {
    overflow: hidden; 
    white-space: nowrap; 
    width: 100%; 
    background-color: #333; 
    position: relative; 
}

.train {
    display: flex; 
    animation: scroll 20s linear infinite; 
}

.train-content {
    display: flex; 
}

.language {
    display: inline-block; 
    padding: 20px;
    text-align: center; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logo {
    width: 200px; 
    height: auto; 
}

.language:hover {
    background-color: #444; 
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Start from the original position */
    }
    100% {
        transform: translateX(-80%); /* Move left by the full width of the train */
    }
}

/* Pause animation on hover */
.train-container:hover .train {
    animation-play-state: paused; 
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
